@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?44vaij');
  src:  url('../fonts/icomoon.eot?44vaij#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?44vaij') format('truetype'),
    url('../fonts/icomoon.woff?44vaij') format('woff'),
    url('../fonts/icomoon.svg?44vaij#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chs_sywx_ic_delete:before {
  content: "\e900";
}
.icon-chs_sywx_ic_detail_guanb:before {
  content: "\e901";
}
.icon-chs_sywx_ic_detail_jia:before {
  content: "\e902";
}
.icon-chs_sywx_ic_detail_jian:before {
  content: "\e903";
}
.icon-chs_sywx_ic_detail_jiant:before {
  content: "\e904";
}
.icon-chs_sywx_ic_detail_like:before {
  content: "\e905";
}
.icon-chs_sywx_ic_detail_livez:before {
  content: "\e906";
}
.icon-chs_sywx_ic_detail_news:before {
  content: "\e907";
}
.icon-chs_sywx_ic_detail_next:before {
  content: "\e908";
}
.icon-chs_sywx_ic_detail_num:before {
  content: "\e909";
}
.icon-chs_sywx_ic_detail_phone:before {
  content: "\e90a";
}
.icon-chs_sywx_ic_detail_setting:before {
  content: "\e90b";
}
.icon-chs_sywx_ic_detail_share:before {
  content: "\e90c";
}
.icon-chs_sywx_ic_detail_stop:before {
  content: "\e90d";
  background: -webkit-linear-gradient(left, #828282, #a6a6a6, #828282);     /* 背景色渐变 */
  -webkit-background-clip: text;         /* 规定背景的划分区域 */
  -webkit-text-fill-color: transparent;  /* 防止字体颜色覆盖 */
}
.icon-chs_sywx_ic_detail_tp:before {
  content: "\e90e";
}
.icon-chs_sywx_ic_detail_vodz:before {
  content: "\e90f";
}
.icon-chs_sywx_ic_detail_voice:before {
  content: "\e910";
}
.icon-chs_sywx_ic_film:before {
  content: "\e911";
}
.icon-chs_sywx_ic_history:before {
  content: "\e912";
}
.icon-chs_sywx_ic_home:before {
  content: "\e913";
}
.icon-chs_sywx_ic_home_s:before {
  content: "\e914";
}
.icon-chs_sywx_ic_jt:before {
  content: "\e915";
}
.icon-chs_sywx_ic_jt_left:before {
  content: "\e916";
}
.icon-chs_sywx_ic_live:before {
  content: "\e917";
}
.icon-chs_sywx_ic_living:before {
  content: "\e918";
}
.icon-chs_sywx_ic_living_s:before {
  content: "\e919";
}
.icon-chs_sywx_ic_my:before {
  content: "\e91a";
}
.icon-chs_sywx_ic_my_box:before {
  content: "\e91b";
}
.icon-chs_sywx_ic_my_coll:before {
  content: "\e91c";
}
.icon-chs_sywx_ic_my_help:before {
  content: "\e91d";
}
.icon-chs_sywx_ic_my_history:before {
  content: "\e91e";
}
.icon-chs_sywx_ic_my_jt:before {
  content: "\e91f";
}
.icon-chs_sywx_ic_my_s:before {
  content: "\e920";
}
.icon-chs_sywx_ic_my_setting:before {
  content: "\e921";
}
.icon-chs_sywx_ic_num_0:before {
  content: "\e922";
}
.icon-chs_sywx_ic_num_1:before {
  content: "\e923";
}
.icon-chs_sywx_ic_num_2:before {
  content: "\e924";
}
.icon-chs_sywx_ic_num_3:before {
  content: "\e925";
}
.icon-chs_sywx_ic_num_4:before {
  content: "\e926";
}
.icon-chs_sywx_ic_num_5:before {
  content: "\e927";
}
.icon-chs_sywx_ic_num_6:before {
  content: "\e928";
}
.icon-chs_sywx_ic_num_7:before {
  content: "\e929";
}
.icon-chs_sywx_ic_num_8:before {
  content: "\e92a";
}
.icon-chs_sywx_ic_num_9:before {
  content: "\e92b";
}
.icon-chs_sywx_ic_num_live:before {
  content: "\e92c";
}
.icon-chs_sywx_ic_num_vod:before {
  content: "\e92d";
}
.icon-chs_sywx_ic_rc:before {
  content: "\e92e";
}
.icon-chs_sywx_ic_rc_s:before {
  content: "\e92f";
}
.icon-chs_sywx_ic_retina:before {
  content: "\e930";
}
.icon-chs_sywx_ic_search:before {
  content: "\e931";
}
.icon-chs_sywx_ic_star:before {
  content: "\e932";
}
.icon-chs_sywx_ic_vod:before {
  content: "\e933";
}
.icon-chs_sywx_ic_vod_s:before {
  content: "\e934";
}

